<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niluogege.mytestapp">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matrixandroid">


        <activity
            android:name=".matrix.traffic.TestTrafficActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".matrix.issue.IssuesListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".matrix.resource.ManualDumpActivity" />
        <activity android:name=".matrix.io.TestIOActivity" />
        <activity
            android:name=".matrix.resource.TestLeakActivity"
            android:process=":leaktest" />
        <activity android:name=".matrix.trace.TestTraceMainActivity" />
        <activity android:name=".matrix.trace.TestTraceFragmentActivity" />
        <activity android:name=".matrix.trace.TestEnterActivity" />
        <activity android:name=".matrix.trace.TestFpsActivity" />
        <activity android:name=".matrix.battery.TestBatteryActivity" />
        <activity android:name=".matrix.hooks.TestHooksActivity" />

        <service
            android:name=".matrix.hooks.OtherProcessService"
            android:process=":other" />
    </application>

</manifest>